*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: center;
    margin: 40px auto 0;
    height: 400px;
    background-color: #616268;
}
.output-data{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}