*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}
table{
    display: flex;
    flex-direction: column;
    margin: 40px auto 0;
    height: 468px;
    width: 345px;
    gap: 40px;
    background-color: #616268;
    border-radius: 35px;
    padding: 30px 25px;
    box-shadow: 0px 15px 0px #525359;
}
h4{
    font-family: 'Montserrat', sans-serif;
}

input{
    border: none;
    text-align: right;
}

input:focus{
    outline: none;
    border: none;
}

#output{
    display: flex;
    border-radius: 10px;
    padding: 15px 15px 10px 10px;
    height: 60px;
    width: 100%;
    background-color: #D2D5E0;
    box-shadow: 0px 10px 0px #C4C6D3;
    font-size: 60px;
    font-family: 'Digital', sans-serif;
    align-items: center;
}

tbody{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    justify-items: center;
}

.tbody-in{
    margin: 5px;
}

.tbody-out{
    height: 100%;
    display: flex;
    margin: 5px;
}

tr{
    display: flex;
    width: 100%;
    gap: 10px;
}

button{
    width: 63px;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 2.5px 6px 0px #e4e5e6, 2.5px 0px 0px #e4e5e6, 0px 6px 0px #e4e5e6;
    border-radius: 10px;
    border: none;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.equal{
    box-shadow: 2.5px 6px 0px #D28B42, 2.5px 0px 0px #D28B42, 0px 6px 0px #D28B42;
    background-color: #ea9f42;
}
